@{
    ViewBag.Title = "www.compilemode.com";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<style type="text/css">
    .red {
        color: red !important;
    }

    .blue {
        color: blue !important;
    }

    .green {
        color: green !important;
    }
</style>
<div style="margin-top:20px">
    @Html.Partial("Portfolio");
    @Html.Partial("TransactionDetails");
</div>