
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buy Shares</h2>
<br />
<style>

    p {
        
        width:300px !important;
    }
</style>

<h4>


    <p>Enter Scrip Code: </p><input type="text" style="width:200px" /><br /><br />

    <p> Enter Quantity to Buy :</p> <input type="text" style="width:200px" /><br /><br />
</h4>



<b><input type="button" style="width:200px" class="btn btn-primary" value="Buy" onclick="javascript:document.location='/success'" /></b>
