
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank you!</h2>

<br /><br />
<h3> Your transaction has been successfully executed at current market price.</h3>

<br />

<h4><a href="/Dashboard">View your Portfolio</a></h4><br /><br /><br /><br />
